<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/devinn_cute.png" alt="devinn profile">
<p>
  Hello! My name is Devinn Chi and I am the creator of this simple blog post website. I am an aspiring AI engineer, who is learning a little bit about web development on the side. Thank you for checking out my project!</p>

  <%- include("partials/footer.ejs") %>